.wrapper-about
    section.about
        h2.about__title
            span About us
        p.about__text
            | Laoreet at dolor euismod faucibus orci vitae amet in dictum. At consectetur magna ornare duis.
            | Mattis dui in vitae ultrices integer sit amet, mattis.
            | Nam habitasse et fames pulvinar leo.
            | Rhoncus nam in pellentesque nulla feugiat.
            | Sit a aliquam molestie aliquam neque, ullamcorper odio gravida.
    .slider
        .owl-carousel.owl-theme
            .carousel-item
                picture
                    source(srcset='assets/images/slider-mobile.png' media='(max-width: 480px)')
                    source(srcset='assets/images/slider.png' media='(min-width: 480px)')
                    img(src='assets/images/slider.png' alt='slider image')
            .carousel-item
                picture
                    source(srcset='assets/images/slider-mobile.png' media='(max-width: 480px)')
                    source(srcset='assets/images/slider.png' media='(min-width: 480px)')
                    img(src='assets/images/slider.png' alt='slider image')
            .carousel-item
                picture
                    source(srcset='assets/images/slider-mobile.png' media='(max-width: 480px)')
                    source(srcset='assets/images/slider.png' media='(min-width: 480px)')
                    img(src='assets/images/slider.png' alt='slider image')