footer.page-footer
    nav.footer-navigation
        ul.navigation-list
            li.navigation-item
                a.link-nav(href='#') home
            li.navigation-item
                a.link-nav(href='#') about
            li.navigation-item
                a.link-nav(href='#') services
            li.navigation-item
                a.link-nav(href='#') contact
    .page-footer__social.social
        ul.social__list
            li.social__item
                a.social__link.social__link--facebook(href='#')
                    img(src='assets/images/facebook.svg', alt='Facebook', aria-label='Facebook')
            li.social__item
                a.social__link.social__link--istagram(href='#')
                    img(src='assets/images/linkedIn.svg', alt='Instagram', aria-label='Instagram')
            li.social__item
                a.social__link.social__link--istagram(href='#')
                    img(src='assets/images/instagram.svg', alt='Instagram', aria-label='Instagram')
    .footer-copyright
        p.copyright__text 2019 writingforsuccess.com