footer.page-footer
    .page-footer__social.social
        ul.social__list
            li.social__item
                a.social__link.social__link--facebook(href='#')
                    img(src='assets/images/facebook.svg', alt='Facebook Webase', aria-label='Facebook')
            li.social__item
                a.social__link.social__link--istagram(href='https://www.instagram.com/thewebase/')
                    img(src='assets/images/instagram.svg', alt='Instagram Webase', aria-label='Instagram')
    .policy
        ul.policy__list
            li.policy__item
                a.policy__privacy(href='privacy.html') Privacy policy
            li.policy__item
                a.policy__cookie(href='cookie.html') Cookie policy
