header.page-header
    .page-header__logo.logo
        img.page-header__logo--image(src='assets/images/logo.svg', alt="logo company")
    .page-header__buttons
        a.button.button-contact(href='#contact-form', aria-label='Contact') Contact
        button.button.button-learn-more(type='button', aria-label='Learn-more') Learn-more
    h1.page-header__title
        | succes
        | follows
        | attention
    p.page-header__text
        | This landing page can get you attention.
    .anchor
        a.anchor__link(href='#anchor')
            img.anchor__image(src='assets/images/arrow-down.svg', alt="anchor")
