main.page-main
	section.done
		h2.done__title Thank You!
		p.done__text We've received your message and will shortly contact you back
		a.done__link(href='https://thewebase.com')
			img(src='assets/images/done.svg', alt='повернутися на головну', aria-label='повернутися на головну')
	section.done-visit
		h2.done__title Get to know us better
		p.done__text Visit our Facebook or Instagram
