<main class='page-main'>
	<section class='cookie-policy'>
		<h1 class='cookie__title-header'>Privacy policy thewebase.com</h1>
		<h1 class='cookie__title-header'>Greetings! You are probably worried about your privacy if you read this message.</h1>
		<ol class='cookie__ordered-list'>
			<li class='cookie__list-item'>
				<h3 class='cookie__title'>Main points if this policy</h3>
				<ol class='cookie__sublist-ordered'>
					<li class='cookie__sublist-item'>
						<p>We collect the following data: your submitted name, your submitted email address and your submitted phone number.</p>
					</li>
					<li class='cookie__sublist-item'>
						<p>We will use the information from paragraph 1 to add it to our list of interested customers, to contact you with our offer and send emails</p>
					</li>
					<li class='cookie__sublist-item'>
						<p>We promise not to transfer your information to third parties without your consent.</p>
					</li>
					<li class='cookie__sublist-item'>
						<p>To stop any further communication - send us an email at thewebase@gmail.com We will confirm your submited data and delete it forever.</p>
					</li>
				</ol>
			</li>
			<li class='cookie__list-item'>
				<h3 class='cookie__title'>Acceptance of this policy</h3>
				<ol class='cookie__sublist-ordered'>
					<li class='cookie__sublist-item'>
						<p>You acknowledge that you have read this Policy and agree to all its terms and conditions. By using the Website or its Services you agree to be bound by this Policy. If you do not agree to abide by the terms of this Policy, you are not authorized to use or access the Website and its Services.</p>
					</li>
				</ol>
			</li>
		</ol>
		<div class='questions-for-us'>
			<b>Contacting us</b>
			<p>If you have any questions about this Policy, please contact us.</p>
			<p>thewebase@gmail.com</p>
			<b>This document was last updated on June 8, 2019</b>
		</div>
	</section>
</main>