section.video.modal-video
  h2.visually-hidden Video about team
  video#myVideo.video__player(playsinline loop controls autoPictureInPicture ,)
    source(src='assets/video/lastcheck.mp4', type='video/mp4')
  button.video-close(type='button', aria-label='close video')


//- section.video.modal-video
//-   h2.visually-hidden Video about team
//-   video#my-player.video-js.video__player(controls loop autoplay="false" preload="none")
  //-   source(src='assets/video/lastcheck.mp4', type='video/mp4')
  //-   //- source(src='”//vjs.zencdn.net/v/oceans.webm”', type='”video/webm”')
  //-   //- source(src='”//vjs.zencdn.net/v/oceans.ogv”', type='”video/ogg”')
  //-   p.vjs-no-js To view this video please enable JavaScript, and consider upgrading to a web browser that
  //-     a(href='http://videojs.com/html5-video-support/', target='_blank')
  //-     | supports HTML5 video
  //- button.video-close(type='button', aria-label='close video')
