section.cookie.modal-cookie.cookie-show
	h2.visually-hidden Cookie policy
	.cookie-wrapper
		p.cookie__text
			b This site uses cookies.
			|  You can find more infor mation on the cookie policy page
			a.cookie__link(href='cookie.html')  Cookie policy.
		button.cookie-close(type='button', aria-label='Close cookie policy')
