section.services
    h2.services__title
        span Our services
    ul.services__list
        li.services__item
            h3.services__item-title Press releases
            p.services__item-img
                img.services__item--image(src='assets/images/serveces__item.png', alt="Product image")
            p.services__item-text
                | Laoreet at dolor euismod faucibus orci vitae amet in dictum.
                | At consectetur magna ornare duis.
                | Mattis dui in vitae ultrices integer sit amet, mattis.
        li.services__item
            h3.services__item-title Product reviews
            p.services__item-img
                img.services__item--image(src='assets/images/serveces__item.png', alt="Product image")
            p.services__item-text
                | Laoreet at dolor euismod faucibus orci vitae amet in dictum.
                | At consectetur magna ornare duis.
                | Mattis dui in vitae ultrices integer sit amet, mattis.
        li.services__item
            h3.services__item-title Product reviews
            p.services__item-img
                img.services__item--image(src='assets/images/serveces__item.png', alt="Product image")
            p.services__item-text
                | Laoreet at dolor euismod faucibus orci vitae amet in dictum.
                | At consectetur magna ornare duis.
                | Mattis dui in vitae ultrices integer sit amet, mattis.
        li.services__item
            h3.services__item-title Product reviews
            p.services__item-img
                img.services__item--image(src='assets/images/serveces__item.png', alt="Product image")
            p.services__item-text
                | Laoreet at dolor euismod faucibus orci vitae amet in dictum.
                | At consectetur magna ornare duis.
                | Mattis dui in vitae ultrices integer sit amet, mattis.
    .services__button
        a.button.services__item-button(href='#contact-form', aria-label='Contact') Contact