.button {
  min-width: 220px;
  display: inline-block;
  padding: 13px 20px;
  font-size: 26px;
  line-height: 33px;
  text-align: center;
  color: $light;
  font-family: 'fjalla_oneregular', 'Arial', sans-serif;
  background-color: $cta;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 20px;
  @include tablet {
    min-width: 180px;
    font-size: 20px;
    line-height: 25px;
  }
  @include mobile {
    min-width: 160px;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 10px;
  }
}

.page-header__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  grid-area: buttons;
  align-self: center;
  text-align: center;
  @include mobile {
    flex-direction: row;
    width: 100%;
  }
}

.services__button,
.team__button {
  width: 100%;
  text-align: center;
}

.services__item-button {
  display: none;
  @include mobile {
    display: inline-block;
    text-align: center;
  }
}

.contact-form__button {
  display: inline-block;
  width: 720px;
  @include tablet {
    width: 710px;
  }
  @include mobile {
    width: 290px;
    text-align: center;
  }
}

.button-learn-more {
  background: $secondary-color;
}