.form {
  position: relative;
  margin: 0 auto;
}

.form p {
  margin: 0;
}

.form textarea {
  @include desktop {
    // height: reml(200px);
  }
}

.form input,
.form textarea {
  text-align: center;
  font-size: rem(16px);
  padding: rem(10px) 0;
  border-radius: 10px;
  border: 1px solid $maastrich-blue;

  &:focus {
    outline: none;
    border-radius: rem(10px);
    border: 1px solid $cornflower-blue;
    box-shadow: 0 0 rem(5px)  $cornflower-blue;
  }
}

.form .form__input-text {
  margin-bottom: rem(25px);
}

