.grid-wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-areas: "header"
                       "main"
                       "footer";
  grid-template-rows: 100vh auto auto;
  grid-template-columns: 12fr;
  @include tablet {
    grid-template-rows: 50vh auto auto;
  }
  @include mobile {
    grid-template-rows: 100vh auto auto;

  }
}
