.page-header {
  display: grid;
  grid-template-areas: "logo logo" "buttons title" "text text";
  grid-template-rows: 235px minmax(280px) minmax(305px);
  grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
  background: url("../images/header-background.jpg") center/cover;
  grid-area: header;
  padding: 0 100px;
  @include tablet {
    grid-template-areas: "logo logo" "buttons title" "text text";
    grid-template-rows: 120px 200px auto;
    padding: 0 25px;
  }
  @include mobile {
    grid-template-areas:  "logo logo" "title title" "text text" "buttons buttons" "link link";
    grid-template-rows: 100px;
    padding: 0 16px;
  }
}

.page-header__logo {
  margin-top: 40px;
  grid-area: logo;
  @include mobile {
    margin-top: 30px;
  }
}

.page-header__logo--image {
  width: 120px;
  height: 73.3px;
  @include tablet {
    width: 80px;
    height: 48.86px;
  }
}

.page-header__title {
  width: 450px;
  text-transform: uppercase;
  text-align: right;
  font-size: 78px;
  line-height: 98px;
  color: $light;
  grid-area: title;
  justify-self: center;
  align-self: center;
  @include tablet {
    width: 300px;
    font-size: 50px;
    line-height: 63px;
    align-self: center;
  }
  @include mobile {
    width: 70%;
    justify-self: flex-end;
    font-size: 45px;
    line-height: 57px;
  }
}

.page-header__text {
  width: 400px;
  margin: 0 auto;
  font-size: 35px;
  line-height: 45px;
  text-align: center;
  color: $light;
  grid-area: text;
  align-self: center;
  @include tablet {
    width: 280px;
    font-size: 25px;
    line-height: 32px;
  }
  @include mobile {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }
}

.anchor {
  display: none;
  grid-area: link;
  justify-self: center;
  align-self: center;

  //@keyframes bounce {
  //  0% {transform: translateY(-2000px);}
  //  70% {transform: translateY(30px);}
  //  90% {transform: translateY(-10px);}
  //  100% {transform: translateY(0);}
  //}
  @include mobile {
    display: block;
  }
}

.button-learn-more {
  background: $secondary-color;
}

