@font-face {
  font-family: 'loraregular';
  src: url('../fonts/lora-regular-webfont.woff2') format('woff2'),
  url('../fonts/lora-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'fjalla_oneregular';
  src: url('../fonts/fjallaone-regular-webfont.woff2') format('woff2'),
  url('../fonts/fjallaone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html {
  font-size: 16px;
  @include desktop {
    font-size: 16px;
  }

  @include laptop {
    font-size: 15px;
  }

  @include tablet {
    font-size: 14px;
  }

  @include mobile {
    font-size: 13px;
  }

}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 320px;
  padding: 0;
  margin: 0;
  font-family: 'loraregular', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42;
  background-color: #E5E5E5;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'fjalla_oneregular', 'Arial', sans-serif;
  font-weight: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

//.container {
//  margin: 0 auto;
//  width: 1440px;
//  @include laptop {
//    width: 1024px;
//}
